/* * ROOT AND GLOBALS *//* #region */
:root {
  --primary: #EA6138; /*shirt sun orange */
  --secondary: #261E20; /*shirt text*/
  --tertiary: #EFBD51; /*shirt sun yellow */
  --text: #FFF7EF; /*shirt background */
  --temp: black;
}

* {
  box-sizing: border-box;
  color: var(--text)
}

body {
  background-color: var(--secondary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
}

Link a {
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  color: var(--text);
}

.full-page {
  min-height: 68vh;
}

.custom-btn {
  border: 2px solid var(--text);
  background-color: var(--tertiary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.custom-btn:hover {
  background-color: var(--primary);
  border: 2px solid var(--text);
}

/* #endregion */

/* * HEADER *//* #region */
header {
  background-color: var(--primary);
  height: 150px;
  position: relative;
}

header h1 {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  background: var(--tertiary);
  padding: 20px;
  padding-left: 10%;
  text-align: center;
  font-size: 400%;
}

.navbar {
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-top: 15px;
  margin-right: 20px;
  font-size: 30px;
}

.navbar a {
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  color: var(--text);
}
/* #endregion */

/* * ABOUT ME *//* #region */
#about-me-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#about-me-content p {
  display: flex;
  margin: 10px;
  font-size: 150%;
}

.question {
  padding-bottom: 60px;
}
  
.question h4 {
  font-size: 30px;
}

/* #endregion */

/*  * ABOUT ME WAVES */ /* #region */
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.wave .shape-fill {
  fill: var(--primary);
  filter: brightness(95%);
}

.wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.wave2 .shape-fill {
  fill: var(--primary);
  filter: brightness(85%);
}

.wave3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.wave3 .shape-fill {
  fill: var(--primary);
  filter: brightness(105%);
}
/* #endregion */

/* * ABOUT ME BANNER *//* #region */
.banner {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: var(--primary);
  background-image: url('/images/Banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture {
  position: relative;
  width: 380px;
  height: 380px;
  border: 2px solid var(--text);
  margin: 10px;
}

.banner h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--tertiary);
  padding: 5px;
  margin: 20px 40px;
  font-size: 48px;
}
/* #endregion */

/* * PORTFOLIO *//* #region */
.custom-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding-right: 4%;
  text-align: justify;
}

.segment {
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
}

span {
  color: var(--primary);
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  flex: 100%
}

.title {
  display: block;
  flex: 10%;
  padding-right: 1%;
  margin: 2%;
  border-right: 5px solid var(--tertiary);
}

.title h3 {
  padding: 2%;
  text-align: right;
  font-size: 300%;
  color: var(--tertiary);
}

.content {
  display: flex;
  flex: 90%;
  align-items: center;
  text-align: left;
  margin: 10px;
  padding: 20px;
}
/* #endregion */

/* * PORTFOLIO COMPLETED PROJECTS *//* #region */
#completed-projects-content {
  display: flex;
  flex-flow: row wrap;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

#first-row-smaller {
  flex-flow: row wrap;
  justify-content: space-between;
}

#first-row-smaller a {
  width: 49%;
  margin: 1% 0;
}

#first-row-smaller img {
  width: 100%;
}

#featured,
#first-row-smaller {
  flex: 1;
  max-width: calc(50% - 10px);
}

#featured a {
  width: 100%;
  margin: 1% 0;
  padding: 1% 0;
}

#featured img {
  width: 100%;
}

#second-row-smaller {
  flex: 100%;
  justify-content: space-between;
}

#second-row-smaller a {
  width: 24%;
  margin: 0;
}

#second-row-smaller img {
  width: 100%;
}

.project-links {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  margin: 6px;
}

.project-links a {
  border: 5px solid var(--tertiary);
  transition: border 0.8s ease;
  /* margin: 20px; */
}

.project-links img {
  filter: grayscale(80%);
  transition: filter 0.8s ease;
  padding: 4px 4px 0px 4px;
}

.project-links h4 {
  position: absolute;
  bottom: 6%;
  background-color: var(--tertiary);
  font-size: 200%;
  text-align: center;
  transition: background-color 0.8s ease;
  padding: 1%;
  min-width: 60px;
}

.project-links a:hover {
  border: 5px solid var(--primary);
}

.project-links a:hover img {
  filter: grayscale(0%);
}

.project-links a:hover h4 {
  background-color: var(--primary);
} 

.smaller-link {
  position: relative;
}

.smaller-link h4 {
  font-size: 100%;
}

/* #endregion */

/*  * RESUME *//* #region */
.resume {
  width: 100%;
  min-height: 68vh;
  text-align: center;
  align-items: center;
}
/* #endregion */

/*  * FOOTER *//* #region */
footer {
  margin: 0 4% 0 4%;
  height: 4px;
  background-color: var(--tertiary);
}

#contact-me-content {
  display: flex;
  bottom: 5px;
  right: 10px;
  padding-top: 40px;
  font-size: 40px;
  height: 200px;
  justify-content: center;
}

#contact-me-content nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#contact-me-content .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

#contact-me-content .nav-item img {
  width: 60px;
  margin-bottom: 10px;
  transition: 0.8s ease;
}

#contact-me-content .nav-item:hover img {
  filter: hue-rotate(-31deg) saturate(500%) brightness(90%);
}

#contact-me-content .nav-item h4 {
  text-align: center;
  border-top: 5px solid var(--tertiary);
  color: var(--text);
  padding: 10px;
  /* transition: 0.8s ease; */
}

.small-text {
  font-size: 12px;
  height: 54px;
}

.phone {
  margin: 60px;
}
/* #endregion */